.table{
    margin-top: 20px;
    overflow-y: scroll;
    height: 450px;
    color: #6a5d5d;
}

.table tr {
    display: flex;
    justify-content: space-between;
}

.table td{
    padding: 0.5rem 1rem;
}


.table tr:nth-of-type(odd){
    background-color: #f3f2f8;
}


/* Hide scrollbar for Chrome, Safari and Opera */
.table::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.table {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

img{
    height: 20px;
}